@model IEnumerable<Dept_subDept_Module.Models.Department>
@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h3>Manage Department / Sub-Department</h3>
    <p class="mt-4">
        <a class="btn btn-primary" asp-action="CreateDepartment">Create New</a>
    </p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Department Name</th>
                <th scope="col">Logo</th>
                <th scope="col">Parent Department</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            @{
                if (Model != null)
                {
                    var i = 0;
                    foreach (var items in Model)
                    {
                        <tr>
                            <th scope="row">@(++i)</th>
                            <td>@items.Name</td>
                            <td>
                                @if (items.Logo != "No file")
                                {
                                    <img src="@items.Logo" style="width:60px;border-radius:10px" />
                                }
                                else
                                {
                                    <p>@items.Logo</p>
                                }
                            </td>
                            <td>
                                @if (items.Parent_Id == 0)
                                {
                                    <p>Root</p>
                                }
                                else
                                {
                                    var parent = Model.Where(x => x.Id == items.Parent_Id).First();
                                    <p>@parent.Name</p>
                                }
                            </td>
                            <td>
                                <a class="btn btn-success" asp-action="EditDepatment" asp-route-id="@items.Id">Edit</a>
                                <a class="btn btn-danger" href="/Home/DeleteDepatment?id=@items.Id">Delete</a>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <p>No Data Found.</p>
                }
            }
        </tbody>
    </table>
    
</div>
